@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --baseyellow: #ec0;
  --lightyellow: #ffd;
  --calcmono: 'Source Code Pro', monospace;
  --quiksand: 'Quicksand', sans-serif;
}

.body {
  font-family: var(--quiksand);
}

.spacer {
  width: 100%;
}

/* NAVBAR */
.navbar {
  display: flex;
  background-color: var(--baseyellow);
  padding: 1em 1.5em;
  font-size: 30px;
}

.navbar .title-alt {
  padding-right: 5px;
  background-color: #000;
  color: var(--baseyellow);
}

.navbar a {
  font-size: 30px;
  color: #000;
}

/* HOMEPAGE */

.scalculator {
  padding: 40px;
}

.scalculator h2 {
  margin-top: 0;
  text-align: center;
  color: var(--baseyellow);
  font-size: 5vh;
}

/* COMPONENTS */

/* contentbox */
.contentbox {
  color: #fff;
  margin: 20px;
  padding: 20px;
  border: solid 5px var(--lightyellow);
  border-radius: 10px;
}

.contentbox .contentleft {
  margin: auto;
  width: fit-content;
  text-align: left;
}

.contentbox ul{
  margin-top: 5px;
}

/* scientific calculator */
.scalc {
  margin: auto;
  padding: 20px;
  width: 60vw;
  background-color: #333;
  border: solid 5px var(--baseyellow);
  border-radius: 10px;
  box-shadow: 0px 0px 16px #000;
}

.scalc .screen {
  width: 98%;
  height: auto;
  border-right: solid 5px var(--baseyellow);
  padding: 20px 5px 5px 5px;
  background-color: #222;
  margin-bottom: 20px;
  font-family: var(--calcmono);
  font-size: 30px;
  color: var(--baseyellow);
  text-align: right;
  overflow: hidden;
}

.scalc .button-layout {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(7, 1fr);
}

.scalc .span2 {
  grid-column: span 2;
}

.scalc .button {
  height: auto;
  padding: 8px;
  font-size: 1rem;
  color: #fff;
  background-color: #111;
  border: solid 2px var(--baseyellow);
  border-radius: 4px;
  cursor: pointer;
}

.scalc .button:active {
  background-color: var(--baseyellow);
  border-color: var(--baseyellow);
  color: #000;
}

.scalc .digit {
  background-color: #222;
}

.scalc .digit:active {
  background-color: var(--lightyellow);
  border-color: var(--lightyellow);
}

.scalc .submit {
  background-color: #0c0;
  border-color: #0c0;
}

/* FOOTER */

.footer {
  background-color: var(--baseyellow);
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.footer .heart {
  color: #f00;
  font-size: 25px;
}

.footer a {
  text-decoration: none;
  background-color: #000;
  padding: 0px 5px;
  color: var(--baseyellow);
}

.footer a:hover {
  background-color: var(--lightyellow);
  color: #000;
}