:root {
  --baseyellow: #ec0;
  --lightyellow: #ffd;
}

.spacer {
  width: 100%;
}

/* NAVBAR */
.navbar {
  display: flex;
  background-color: var(--baseyellow);
  padding: 1em 1.5em;
  font-size: 30px;
}

.navbar .title-alt {
  padding-right: 5px;
  background-color: #000;
  color: var(--baseyellow);
}

.navbar a {
  font-size: 30px;
  color: #000;
}

/* COMPONENTS */

.contentbox {
  color: #fff;
  margin: 20px;
  padding: 20px;
  border: solid 5px var(--lightyellow);
  border-radius: 10px;
}

.contentbox .contentleft {
  margin: auto;
  width: fit-content;
  text-align: left;
}

.contentbox ul{
  margin-top: 5px;
}